/* select all CSS */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/*Header CSS */
.header {
    display: flex;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.app-name {
    color: palevioletred;
    font-size: larger;
    padding-top: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-items > ul {
   display: flex;
   list-style-type: none;
}

.nav-items > ul > li {
    font-size: large;
    padding: 30px 10px 0 0;
    margin: 10px;
}

/* BODY */
.res-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    box-shadow: -1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 7px;
    padding: 5px;
    width: 200px;
    height: 300px;
}
.res-card > h4 {
    padding:5px 0px;
    color: grey;
}
.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-image {
    height: 125px;
    width: 100%;
    border-radius: 5px;
}

.res-card > span {
    display: flex;
    padding-top: 4px;
    justify-content: space-evenly;
}

.res-card > span > h4 {
    text-align: center;
}

.filters {
    display: flex;
}

.filter-btn {
    padding: 5px;
    border: 1px solid #DB7093;
    border-radius: 5px;
    background-color: #DB7093;
    color: white;
    margin: 10px;
    cursor: pointer;
}


/* Shimmer */

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 300px;
    width: 200px;
    margin: 20px;
    background-color: #f0f0f0 ;
}

.shimmer-card-image {
    height: 125px;
    margin: 5px;
    width: 190px;
    background-color: gainsboro;
    border-radius: 5px;
}

.shimmer-card-name {
    height: 25px;
    width: 65px;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 10px;
}

.shimmer-card-cuisine {
    height: 25px;
    width: 85px;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 10px;
}

.shimmer-card-location {
    height: 25px;
    width: 65px;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 10px;
}

.login {
    padding: 0 20px;
    cursor: pointer;
    margin: 10px;
}

.user {
    margin: 20px 0;
    padding: 10px 0;
    border: 1px solid black;
}

.userfunction {
    margin: 20px 0;
    padding: 10px 0;
    border: 1px solid black;
}